<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
</head>
<body>
    <h1>Settings</h1>
    <form action="/ajustes" method="POST">
        <label for="description">Description:</label><br>
        <textarea id="description" name="description" rows="4" cols="50"><%= user.description %></textarea><br><br>

        <label for="twitter">Twitter:</label><br>
        <input type="text" id="twitter" name="twitter" value="<%= user.socialLinks.twitter %>"><br><br>

        <label for="facebook">Facebook:</label><br>
        <input type="text" id="facebook" name="facebook" value="<%= user.socialLinks.facebook %>"><br><br>

        <label for="instagram">Instagram:</label><br>
        <input type="text" id="instagram" name="instagram" value="<%= user.socialLinks.instagram %>"><br><br>

        <input type="submit" value="Save">
    </form>
    <a href="/">Back to Home</a>
</body>
</html>
