<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Inicio</title>
</head>
<body>
  <h1>Bienvenido a Free Fire Diamantes</h1>
  <a href="/surveys">Completa encuestas para ganar diamantes</a>
  <a href="/withdraw">Retirar diamantes</a>
</body>
</html>
