<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inicio</title>
  <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
  <header>
    <%- include('partials/header') %>
  </header>
  <main>
    <h1>Bienvenido a la Página de Inicio</h1>
    <!-- Contenido de la página de inicio -->
  </main>
  <footer>
    <%- include('partials/footer') %>
  </footer>
</body>
</html>
