<!DOCTYPE html>
<html>
<head>
    <title>Settings</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1>Settings</h1>
        <form method="post" action="/settings">
            <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" id="description" name="description"><%= user.description || '' %></textarea>
            </div>
            <div class="form-group">
                <label for="socialLinks">Social Links (JSON)</label>
                <textarea class="form-control" id="socialLinks" name="socialLinks"><%= JSON.stringify(user.social_links) || '' %></textarea>
            </div>
            <div class="form-group">
                <label for="discordId">Discord ID</label>
                <input type="text" class="form-control" id="discordId" name="discordId" value="<%= user.discord_id || '' %>">
            </div>
            <button type="submit" class="btn btn-primary">Save Changes</button>
        </form>
    </div>
</body>
</html>
