<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Encuestas</title>
</head>
<body>
  <h1>Completa encuestas para ganar diamantes</h1>
  <a href="#">Lootably</a>
  <a href="#">CPX Research</a>
</body>
</html>
