/* Estilos para la página de inicio */

/* Header */
.header {
    background-color: #f8f9fa;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-link {
    color: #333;
    font-size: 1.1em;
    padding: 10px 15px;
}

.nav-link:hover {
    color: #007bff;
    transition: color 0.3s ease;
}

.navbar-nav .nav-item {
    margin: 0 15px;
}

/* Formulario de inicio de sesión */
.container {
    margin-top: 50px;
}

.card {
    border-radius: 10px;
    border: 1px solid #ddd;
}

.card-body {
    padding: 20px;
}

h2 {
    margin-bottom: 20px;
}

form p {
    margin-bottom: 20px;
}

form input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

form button {
    background-color: #007bff;
    border: none;
    padding: 10px;
    border-radius: 5px;
}

form button:hover {
    background-color: #0056b3;
    transition: background-color 0.3s ease;
}
