/* Estilos generales para la página de login */

/* Fondo de la página */
body {
    background-image: url('https://mgg.autos/images/brand.png');
    background-size: cover;
    background-position: center;
    color: #fff;
    font-family: 'Arial', sans-serif;
}

/* Header */
.header {
    background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco con opacidad */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-nav .nav-item {
    margin: 0 15px;
}

.nav-link {
    color: #333;
    font-size: 1.1em;
    padding: 10px 15px;
    text-decoration: none;
}

.nav-link:hover {
    color: #007bff;
    transition: color 0.3s ease;
}

.navbar-brand {
    font-weight: bold;
    color: #333;
}

/* Formulario de inicio de sesión */
.container {
    margin-top: 50px;
}

.card {
    border-radius: 10px;
    border: 1px solid #ddd;
    background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco con opacidad */
}

.card-body {
    padding: 20px;
}

h2 {
    color: #fff;
    margin-bottom: 20px;
}

form p {
    margin-bottom: 20px;
}

form input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 100%;
}

form button {
    background-color: #007bff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
}

form button:hover {
    background-color: #0056b3;
    transition: background-color 0.3s ease;
}

/* Media Queries */
@media (max-width: 767px) {
    .btn-primary {
        font-size: 0.875rem;
        padding: 8px 15px;
    }
}
