{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/pages/dashboard.css') }}">
{% endblock %}

{% block content %}
<div class="dashboard-header">
    <h2>Bienvenido, {{ user.username }}</h2>
</div>

<div class="dashboard-content">
    <div>
        <p>Memes subidos: {{ user.memes_count }}</p>
    </div>
    <div>
        <p>Total de Likes: {{ user.total_likes }}</p>
    </div>
</div>
{% endblock %}
