{% extends 'base.html' %}

{% block title %}Perfil de {{ user.username }}{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/pages/profile.css') }}">
{% endblock %}

{% block content %}
<div class="profile-container">
    <img class="avatar" src="{{ user.avatar_url }}" alt="Avatar de {{ user.username }}">
    <h2>{{ user.username }}</h2>

    <!-- Enlaces sociales -->
    <div class="social-links">
        <ul>
            {% if user.social_links.facebook %}
            <li><a href="{{ user.social_links.facebook }}">Facebook</a></li>
            {% endif %}
            {% if user.social_links.instagram %}
            <li><a href="{{ user.social_links.instagram }}">Instagram</a></li>
            {% endif %}
            <!-- Añade más enlaces sociales según sea necesario -->
        </ul>
    </div>

    <!-- Memes subidos -->
    <h3>Memes Subidos:</h3>
    <div class="memes-list">
        {% for meme in user.memes %}
        <div class="meme">
            <img src="{{ meme.url }}" alt="Meme de {{ user.username }}">
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
